In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
dict = {
    'math' : [61, 43, 36, 85, 55, 20],
    'physics' : [56, 49, 50, 80, 55, 25],
    'chemistry' : [np.nan, 55, 49, 69, 61, 29],
    'English' : [65, 80, np.nan, 70, 81, 40]
}

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

   math  physics  chemistry  English
0    61       56        NaN     65.0
1    43       49       55.0     80.0
2    36       50       49.0      NaN
3    85       80       69.0     70.0
4    55       55       61.0     81.0
5    20       25       29.0     40.0

In [5]:
imputer = KNNImputer(n_neighbors=2)

In [6]:
imputed_df = imputer.fit_transform(df)

In [7]:
imputed_df

array([[61. , 56. , 58. , 65. ],
       [43. , 49. , 55. , 80. ],
       [36. , 50. , 49. , 80.5],
       [85. , 80. , 69. , 70. ],
       [55. , 55. , 61. , 81. ],
       [20. , 25. , 29. , 40. ]])